<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Hello to my website!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>Hello, User!</div>
    <a href="/main">Go to Main</a>
</body>
</html>