<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Main</title>
    <style>
        .table-header {
            background: darkgray;
        }
        TABLE {
            border-collapse: collapse;
            margin: 10px;
        }
        TD {
            border: 1px solid black;
            padding: 2px;
        }
    </style>
</head>
<body>
    <div>
        <form action="/logout" method="post">
            <input type="submit" value="Sign Out"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        </form>
    </div>
    <div>
        <form method="post">
            <input type="text" name="manufacturer" placeholder="Марка:">
            <input type="text" name="model" placeholder="Модель:">
            <input type="text" name="modelYear" placeholder="Год:">
            <input type="text" name="mileage" placeholder="Пробег:">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <button type="submit">Добавить</button>
        </form>
    </div>
    <div>Список автомобилей:</div>
    <form method="post" action="filter">
        <input type="text" name="carModel" placeholder="Фильтр(Модель)">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <button type="submit">Найти</button>
    </form>
    <table>
        <tr class="table-header">
            <td><b>ID</b></td>
            <td><span>Марка</span></td>
            <td><span>Модель</span></td>
            <td><span>Год</span></td>
            <td><span>Пробег</span></td>
            <td><strong>Владелец</strong></td>
        </tr>
        {{#cars}}
        <tr>
            <td><b>{{id}}</b></td>
            <td><span>{{manufacturer}}</span></td>
            <td><span>{{model}}</span></td>
            <td><span>{{modelYear}}</span></td>
            <td><span>{{mileage}}</span></td>
            <td><strong>{{ownerName}}</strong></td>
        </tr>
        {{/cars}}
    </table>
</body>
</html>