<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Main</title>
</head>
<body>
    <div>
        <form action="/logout" method="post">
            <input type="submit" value="Sign Out"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        </form>
    </div>
    <div>
        <form method="post">
            <input type="text" name="licence" placeholder="Номер и серия водительского удостоверения:">
            <input type="text" name="name" placeholder="ФИО:">
            <input type="text" name="age" placeholder="Возраст:">
            <input type="text" name="experience" placeholder="Стаж вождения:">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <button type="submit">Сохранить</button>
        </form>
    </div>
    <div>Список водителей:</div>
    <form method="post" action="filter">
        <input type="text" name="filter" placeholder="Фильтр(ФИО)">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <button type="submit">Найти</button>
    </form>
    {{#drivers}}
        <div>
            <b>{{id}}</b>
            <span>{{driversLicense}}</span>
            <span>{{name}}</span>
            <span>{{age}}</span>
            <span>{{drivingExperience}}</span>
        </div>
    {{/drivers}}
</body>
</html>